body{
    background-image: url('back.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}
@font-face {
    font-family: Pixelfont;
    src: url(pixelfont.woff);
  }
div {
    font-family: Pixelfont;
}